* {
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  background: #f4f4f4;
}

input, button{
  font-family: 'Roboto', sans-serif;
}

.container-main{
  width: 550px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.header-main{
  color: #ead7d8;
  text-align: center;
  padding: 25px;
  font-size: 90px;
  font-weight: 200;
}

.container-field{
  background-color: #fff;
  box-shadow:
        0 1px 1px rgba(0,0,0,0.15),
        0 10px 0 -5px #f6f6f6,
        0 10px 1px -4px rgba(0,0,0,0.15),
        0 20px 0 -10px #f6f6f6,
        0 20px 1px -9px rgba(0,0,0,0.15);
}

.list-row{
  border: 1px solid #e6e6e6;
  font-size: 20px;
  font-weight: 300;
  position: relative;
  padding-left: 10px;
}

.is-completed .task{
  text-decoration: line-through;
  color: #d9d9d9;
}

.is-hovered .close-button{
  visibility: visible;
}

.is-editing .checked-item{
  visibility: hidden;
}

.is-editing .task{
  outline:1px solid #999999;
  -moz-box-shadow:    inset 0 0 5px #999999;
  -webkit-box-shadow: inset 0 0 5px #999999;
  box-shadow:         inset 0 0 5px #999999;
}

.dropdown-button, .header-form{
  display: inline-block;
}

.dropdown-button{
  width: 50px;
  height: 60px;
  text-align: center;
  color: #e6e6e6;
}


.dropdown-button .fa-chevron-up,
.dropdown-button:hover .fa-chevron-down {
    display: none;
}

.dropdown-button:hover .fa-chevron-up {
    display: block;
}

.list-heading{
  color: #e6e6e6;
  font-style: italic;
  border: none;
  outline: none;
}

.list-row button{
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

::-webkit-input-placeholder {
  color: #ebebeb;
  font-weight: 300;
}
::-moz-placeholder {
  color: #ebebeb;
  font-weight: 300;
}
:-ms-input-placeholder {
  color: #ebebeb;
  font-weight: 300;
}
:-moz-placeholder {
  color: #ebebeb;
  font-weight: 300;
}

.checkbox-circle{
  float: left;
  position: absolute;
  display: none;
}

.checkbox-circle:checked ~ .checked-item {
    color: #6ec9ba;
    border-color: #6ec9ba;
}

/*.checkbox-circle:checked ~ .task{
  text-decoration: line-through;
  color: #d9d9d9;
}*/

.checked-item{
  position: absolute;
  color: transparent;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #f5f5f5;
  border-radius: 50px;
  display: block;
}

.task{
  font-size: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: 40px;
  outline: none;
}

/*.task:focus{
  outline:1px solid #999999;
  -moz-box-shadow:    inset 0 0 5px #999999;
  -webkit-box-shadow: inset 0 0 5px #999999;
  box-shadow:         inset 0 0 5px #999999;
}*/

/*.task:focus ~ .hidden{
  display: none;
}*/

.close-button{
  cursor: pointer;
  color: #b56569;
  position: absolute;
  visibility: hidden;
  width: 30px;
  height: 30px;
  top: 15px;
  right: 10px;
}

/*.list-row:hover .close-button{
  visibility: visible;;
}*/

.form-footer{
  padding: 15px;
  border: 1px solid #e6e6e6;
  text-align: center;
}


.footer-nav{
  display: inline-block;
}

.remaining-items{
  float: left;
  margin-top: 2px;
}

.remaining-items, .clear-completed button, .filters button{
  font-size: 14px;
  color: #a0a0a0;
  font-weight: 300;
  border: 1px solid transparent;
  cursor: pointer;
  background: none;
  outline: none;
}

.filter-button:hover, .filter-button.active{
  border: 1px solid #efd5d6;
  border-radius: 3px;
}

.clear-completed{
  float: right;
}
